<div>
    {% if game.is_complete %}
    {% if game.is_won %}
    <h1 id="pulsate_me">You win!</h1>
    {% else %}
    <h1 id="pulsate_me">You lost.</h1>
    {% endif %}
    {% else %}
    <h1>Your move</h1>
    {% endif %}
    <p>Left click to open a cell, right click to flag a bomb</p>
      <table border="0" cellpadding="0" cellspacing="0">
    {% for row in cells %}
        <tr>
      {% for cell in row %}
            <td><img oncontextmenu="return fast_replace_main('/game/flag/{{cell.key}}');"
            width="32" height="32" src="{{ cell.value }}" onclick="return fast_replace_main('/game/open/{{cell.key}}');"/></td>
      {% endfor %}
        </tr>
    {% endfor %}
      </table>
</div>
